/* Gaya untuk header form */
.custom-form .custom-form-title {
    background-color: #1A3257 !important;
    color: #fff; /* Warna teks menjadi putih */
    margin: 0; /* Menghilangkan margin atas dan bawah pada header form */
    border-radius: 10px 10px 0 0; /* Melengkungkan sudut atas header */
}

/* Gaya untuk tombol "Submit" */
.custom-submit-button {
  background-color: #1A3257 !important;
  color: #fff;
  width: 100%;
  border: none;
  transition: background-color 0.3s;
}

.custom-submit-button:hover {
  background-color: #102242 !important;
}

.custom-submit-button:disabled {
  background-color: #0f9461 !important; /* Warna latar belakang saat tombol disabled */
  color: #1A3257 !important; /* Warna teks saat tombol disabled */
  cursor: not-allowed; /* Kursor tidak dapat digunakan saat tombol disabled */
}

/* Kustomisasi tambahan jika diperlukan */
.custom-label {
    font-weight: bold;
}

.custom-form {
    border: 1px solid #ccc;
    border-top: none; /* Menghilangkan border atas pada form */
    padding: 20px;
    border-radius: 10px 10px 10px 10px; /* Melengkungkan sudut bawah form */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff; /* Latar belakang form tetap putih */
}

.custom-form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 20px;
}